@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
  box-sizing: content-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #14171d;
  color: #fff;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.editor {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  height: 30px;
  padding: 8px;
  display: flex;
  justify-content: space-around;
}

.header>div {
  width: 100%;
}

.display {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.display>* {
  width: 100%;
  height: 100%;
  flex: 1;
}

.source {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.source-files {
  display: flex;
  justify-content: space-between;
}

.source-files>button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.source-files-list {
  width: 100%;
  display: flex;
  border-top: solid 1px #21252f;
  border-bottom: solid 1px #21252f;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.source-files-list::-webkit-scrollbar {
  display: none;
}

.source-files-list>div {
  width: 150px;
  flex-shrink: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.25);
  border-right: solid 1px #262626;
}

.source-files-list>div:hover {
  background-color: #21252f;
  cursor: pointer;
}

/* .source-files-list>div:last-child {
  border-radius: 0px 10px 10px 0px;
} */

.source-files-list>div.selected {
  background-color: #21252f;
}

.pdf>* {
  height: 100%;
  width: 100%;
}

button {
  height: 18px;
  border: none;
  padding: 6px 16px;
  border-radius: 2px;
  transition: all .1s;
  background: linear-gradient(to right, #a8e063, #56ab2f);
}

button:hover {
  background-color: rgb(104, 206, 104);
  cursor: pointer;
}

.scale-hover:hover {
  transform: scale(1.02);
}

.toast {
  cursor: initial;
}

.toast .toast-close {
  cursor: pointer;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

:not(pre)>code[class*="language-"], pre[class*="language-"] {
  background: none;
}

textarea[class*="language-"] {
  border-right: solid 1px #21252f;
}

.center {
  text-align: center;
}